.iPhone-overview {
  margin-top: 40px;
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
}

.iPhone-overview img {
  width: 40px;
}

.vector-container {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}
.vector-text {
  font-size: 12px;
  display: flex;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 7px;
}
.vector-new-text {
  color: red;
  display: flex;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10px;
}

.trade-in-banner {
  background-color: rgb(232, 232, 232);
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.trade-in-banner div {
  font-size: 23px;
  justify-content: center;
  font-weight: 100;
  text-align: center;
}

.blue-text {
  color: blue;
}

.i15-pro-container {
  align-items: center;
  display: flex;
  background-color: black;
  flex-direction: column;
  justify-content: space-around;
  height: 800px;

}

.i15-pro-heading-container {
  margin-bottom: 90px;
  align-items: center;
  text-align: center;
  height: 240px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;  
}

.vector-red-text {
  color: red;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10px;

}
.i15-pro-title {
  font-size: 23px;
  color: grey;
  
}

.titanium-title img {
  width: 240px;
  display: flex;
}

.from-text {
  color: white;
  font-size: 20px;
}

.buy-button {
  background-color: #0071e3;;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 15px;
  font-size: 13px;
  color: white;
}

.learn-more-special {
  font-size: 20px;
  color:#0071e3;

}

.ip15-blue {
  padding-top: 0;
  margin-top: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.i15-container {
  align-items: center;
  background-color: rgb(244, 244, 244);
  flex-direction: column;
  height: 800px;
  margin-bottom: 20px;
  position: relative;
  justify-content: center ;


}     
.i15-heading-container{
  align-items: center;
  text-align: center;
  height: 240px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;  
  padding-top: 90px;
}
.i15-title {
  font-size: 26px;
  color: black;
}
.Newphoria {
  font-size: 50px;
  font-weight: 520;
}
.from-text-special {
  font-size: 22px;
  font-weight: 100;
}

.SE-container {
  display: flex;
  height: 800px;
  justify-content: center;
  align-items: center;
  background-color:rgb(248, 248, 248);
}

.SE-text-container {
   margin-left: 60px;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 280px;

  align-items: center;
  text-align: center;
  display: flex;
}

.SE-image {
  display: flex;
  flex: 1;

  height: 800px;
}

.SE-main-title {
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;

}

.love {
  font-size: 50px;
  font-weight: 510;
  color: rgb(88, 88, 240);
}

.guided-tour-container {
  height: 830px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

.guided-tour-container img {
  scale: 96%;
  z-index: 1;
  position: absolute;
  width: 90%;

}
.tour-text-container {
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-top: 300px;
  margin-right: 700px;
}

.a-guided-tour {
  color: white;
  font-size: 23.33px; 
}
.ip15-and-pro {
  font-size: 50px;
  color: white;
}

.watch-the-film {
  padding: 10px;
  font-size: 15px;
  display: flex;
  width: 140px;
  border-radius: 50px;
  justify-content: center ;
  margin-top: 20px;
  margin-left: 100px;
}

.which-iphone {
  height: 2500px;

  margin-top: -100px;
}
.which-iphone-title {
  display: flex;
  font-size: 45px;
  text-align: center;
  justify-content: center;
  font-weight: 420;
  margin-top: 370px;
}

.seperate-ip-categories {

  height: 1900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i15-pro-comparison {
  width: 190px;
  height: 1700px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.i15-pro-title-image {
  width: 100%;
  display: flex;
}

.new-text-small {
  color: red;
  font-size: 10px;
  display: flex;
  margin-top: 10px;
}

.title-small-15-pro {
  font-size: 19px;
  font-weight: 900;
  display: flex;
  margin-top: 5px;
}

.ultimate-iphone {
  display: flex;
  font-size: 12+3px;
  margin-top: 3px;
  margin-bottom: 23px;
}

.text-from-category {
  display: flex;
  margin-top: 20px;
  font-size: 10+4px;
}

.small-buy {
  background-color: rgb(88, 88, 240);
  color: white;
  border: none;
  padding: 4px;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;

}

.learn-more-small {
  color: blue;
  font-size: 14px;
  margin-top: 10px;
}

.size-measurement-text{
  font-size: 20px;
  font-weight: 540;
  margin-top: 30px;
}

.detailed-class {
  display: flex;
  text-align: center;
  align-items: center;  
  flex-direction:  column;
  justify-content: space-between;
  font-size: 15px;
  margin-top: 5px;
  height: 60px;

}

.category-container {
  display: flex;
  flex-direction: column;
  width: 190px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 120px;
  font-size: 14px;
}

.category-container-special {
  display: flex;
  flex-direction: column;
  width: 190px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 240px;
  font-size: 14px;
  margin-bottom: 10px;

}

.category-container-special-2 {
  display: flex;
  flex-direction: column;
  width: 190px;
  margin-top: 20px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 190px;
  font-size: 14px;
}

.category-container img, .category-container-special img, .category-container-special-2 img {

  height: 44px;
}

.category-container div{
  margin-top: 10px;
}

.grey-text {
  color: grey;
}

.tenx-container{
  display: flex;
}

.special-2-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  height: 93px;
}

.category-container img {
  height: 32px;
  display: flex;

}
