
body {
  margin: 0;
}

.navbar {
  text-align: center;
  display: flex;
  padding: none;
  justify-content: space-between;
  align-items: center;
  height: 100%;

}

.nav-links {
  padding: none;
  display: flex;
  align-items: center;
  justify-content: center;
}




.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex: wrap;
  justify-content: space-between; /* Evenly space the list items */
  align-items: center;


}

.navbar li {
  flex: 1;
  padding: none;
}

.navbar a {
  text-decoration: none;
  font-size: 12px;
  color: #dedede; /* Text color for the links */
  padding: 12px;
  padding-left: 21px;
  padding-right: 21px; /* Adjust as needed for spacing */
  align-items: center;
  justify-content: center;
  margin: none;
}

.logo {
  width: 20px;
  height: 18px;
  margin-right: 20px;
}

.logo-apple {
  height: 90%;
}

.Magnifier, .bag {
  width: 15px;

  margin-right: 20px;
  margin-left: 20px;
}

.Magnifier-icon, .bag-icon {
  width: 90%;
}


.temporary {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-content: center;
  align-items: center;
  filter: blur(0px);
  margin: 5px;
}
.Nav-Main {
  display: flex;
  height: 44px;
  background-color: rgb(20, 20, 21);
  z-index: 40;
  flex: 1;
  opacity: 95%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-content: center;
  align-items: center;
}

.HEADER1 {
  z-index: 10;
  background-color: black;
  height: 624px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  margin-bottom: 12px;
}


.HEADER2 {
  z-index: 10;
  background-color: #fbfbfd;

  height: 624px;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  margin-bottom: 12px;
}

.HEADER3 {
  z-index: 10;
  background-color: #000000;

  height: 624px;
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  font-size: 200px;

}

.HEADER4 {
  background-color: #ffffff;
  height: 1764px;
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 200px;
  margin-bottom: 12px;
  flex-direction: column;
}


.row {
  display: flex;
  width: 100%; /* Take up the entire width of the parent */
  height: 100%; /* Set the row height to 300px */
  margin: 6px;
  margin-bottom: 3px;
}

.left-content, .right-content {
  flex: 1; /* Distribute width equally between left and right content */
  background-color:  #d5d5d9;
  margin: 6px;
  margin-bottom: 0px;
}

.HEADER4-SLIDESHOW {
  display: flex;
  height: 561px;
  background-color: blue;
  z-index: 10;
  background-color: #000000;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  font-size: 200px;
  text-align: center;
  margin-bottom: 12px;
}

.homepage-footer {
  display: flex;
  height: 934.6px;
  background-color: #51ff00;
  z-index: 10;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  font-size: 200px;
  text-align: center;
}

